#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <locale/keys_de.h>


&mt {
  quick-tap-ms = <100>;
  global-quick-tap;
  flavor = "tap-preferred";
  tapping-term-ms = <170>;
};



/ {
    combos {
        compatible = "zmk,combos";

        space {
            bindings = <&kp SPACE>;
            key-positions = <11 12 13>;
            layers = <0 2 1>;
        };

        return {
            bindings = <&kp ENTER>;
            key-positions = <16 17 18>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
           &kp DE_J  &kp DE_D  &kp DE_U      &kp DE_A           &kp DE_X       &kp DE_P       &kp DE_H      &kp DE_L     &kp DE_M      &kp DE_W
           &kp DE_C  &kp DE_T  &kp DE_I      &kp DE_E           &kp DE_O       &kp DE_B       &kp DE_N      &kp DE_R     &kp DE_S      &kp DE_G
&kp DE_SZ  &kp DE_F  &kp DE_V &kp DE_U_UMLAUT &kp DE_A_UMLAUT   &kp DE_O_UMLAUT  &kp DE_Y     &kp DE_Z      &kp DE_P     &kp DE_COMMA  &kp DE_DOT  &kp DE_Q
                         &kp ESCAPE  &lt 1 TAB  &kp SPACE    &kp ESCAPE  &lt 2 BSPC  &kp DEL
            >;
        };

        NAVNUM {
            bindings = <
        &trans  &trans    &kp UP    &trans     &trans    &kp DE_N7  &kp DE_N8  &kp DE_N9  &kp DE_FSLH  &kp DE_PLUS
        &trans  &kp LEFT  &kp DOWN  &kp RIGHT  &trans    &kp DE_N4  &kp DE_N5  &kp DE_N6  &kp DE_STAR  &kp DE_MINUS
&trans  &trans  &trans    &trans    &trans     &trans    &kp DE_N3  &kp DE_N2  &kp DE_N1  &kp DE_N0    &kp DE_COMMA  &kp DE_MINUS
                         &kp ESCAPE  &lt 1 TAB  &kp SPACE    &kp ESCAPE  &lt 2 BSPC  &kp DEL
            >;
        };

        SYM {
            bindings = <
     &trans         &kp DE_UNDERSCORE  &kp DE_LBKT        &kp DE_RBKT         &kp DE_CARET       &kp DE_EXCLAMATION  &kp DE_LESS_THAN         &kp DE_GREATER_THAN       &kp DE_EQUAL         &kp DE_AMPERSAND
     &kp DE_BACKSLASH  &kp DE_SLASH       &kp DE_LEFT_BRACE  &kp DE_RIGHT_BRACE  &kp DE_ASTERISK    &kp DE_QUESTION     &kp DE_LEFT_PARENTHESIS  &kp DE_RIGHT_PARENTHESIS  &kp DE_MINUS         &kp DE_COLON
&kp DE_ &kp DE_HASH       &kp DE_DOLLAR      &kp DE_PIPE        &kp DE_TILDE        &kp DE_GRAVE       &kp DE_PLUS         &kp DE_PERCENT           &kp DE_DOUBLE_QUOTES      &kp DE_SINGLE_QUOTE  &kp DE_SEMICOLON  &kp DE_AT_SIGN
                         &kp ESCAPE  &lt 1 TAB  &kp SPACE    &kp ESCAPE  &lt 2 BSPC  &kp DEL
            >;
        };
    };
};
